.ruby-wrapper {
  padding: 20px 0;
  position: relative;
}

.ruby-wrapper input, .ruby-wrapper [contenteditable] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  position: relative;
  left: -11px;
}
.ruby-wrapper img {
  max-width: 100%;
  margin-bottom: 15px;
}
.ruby-wrapper.withBorder img {
  border: 1px solid #e8e8eb;
}

.ruby-wrapper.withBackground {
  background: #eff2f5;
  padding: 10px;
}

.ruby-wrapper.withBackground img {
  display: block;
  max-width: 60%;
  margin: 0 auto 15px;
}