.image-wrapper {
  padding: 20px 0;
  position: relative;
}

.image-wrapper input, .image-wrapper [contenteditable] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  position: relative;
  left: -11px;
}
.image-wrapper img {
  max-width: 100%;
  margin-bottom: 15px;
}
.image-wrapper.withBorder img {
  border: 1px solid #e8e8eb;
}

.image-wrapper.withBackground {
  background: #eff2f5;
  padding: 10px;
}

.image-wrapper.withBackground img {
  display: block;
  max-width: 60%;
  margin: 0 auto 15px;
}